// SCREEN SIZE 
$desktopWidth: 1280px;
$medDesktopWidth: 1025px;
$smDesktopWidth: 980px;
$tableWidth: 815px;
$phoneWidth: 600px;
$mdPhoneWidth: 480px;
$smPhoneWidth: 320px;

// BLOCK AND BG COLOR
$mainBackgroundColor: #eaeffa;
$blockColorCello: #415167;
$blockColorRodeoDust: #c7a17a;
$blockColorSolitude: #edf0f5;

// NAV BUTTON COLOR
$navButtonColor: #edf0f5;

// STANDART SETTINGS
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// FONT COLOR
$fontColorCello: #415167;
$headerFontColor: #edf0f5;

// FONTS
$nunitoFont: 'Nunito', sans-serif;
$montserratFont: 'Montserrat', sans-serif;

// SLIDERS FONT COLOR AND BLOCK
$sliderPriceColor: #c7a17a;
$sliderOldPriceColor: #415167;
$sliderTitleColor: #232c38;
$sliderDescriptionColor: #151d28;
$sliderButtonColor: #c7a17a;
$sliderBGColor: #ffffff;
$sliderImgBGColor: #cfdcf3;
$sliderNextButtonColor: #ffffff;
$sliderNextBGColor: #c7a17a;



// GIFTSET SLIDER
$giftButtonColor: #edf0f5;
$giftActiveButtonColor: #ffffff;
$giftContentBlockColor: #ffffff;
$giftPriceColor: #c7a17a;
$giftTitleColor: #232c38;
$giftDescriptionColor: #151d28;